<div class="container mt-4 mb-3">
    <div class="row">
        <ng-container *ngIf="(view$ | async) === 'grid'; else listTemplate">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="center-button m-auto">
                        <app-create-task-button (onAddTask)="onAddTask($event)"></app-create-task-button>
                    </div>
                </div>
            </div>

            <ng-container *ngFor="let task of tasks; let i = index">
                <div class="col-md-3 mb-3">
                    <div class="card p-3 mb-2">
                        <div class="d-flex justify-content-between">
                            <ng-container *ngTemplateOutlet="createdByTemplate; context: {task}"></ng-container>
                            
                            <div class="badge" (click)="deleteTask(i)">
                                <span>Delete</span>
                            </div>
                        </div>
                        <div class="mt-5">
                            <ng-container *ngIf="task.isCreated; else createTaskForm">
                                <app-task-detail
                                    [task]="task"
                                    (onCompleteChecklist)="completeChecklist($event)"
                                    (onRemoveChecklist)="removeChecklist($event)"></app-task-detail>
    
                                <div class="mt-5">
                                    <ng-container *ngTemplateOutlet="progressBarTemplate; context: {task}"></ng-container>
                                    <ng-container *ngTemplateOutlet="createdOnTemplate; context: {task}"></ng-container>
                                </div>
                            </ng-container>
                            <ng-template #createTaskForm>
                                <ng-container *ngIf="task.type === 'text'; else checklistFormTemplate">
                                    <app-text-form
                                        [task]="task"
                                        (onSaveTask)="saveNewTask($event)"></app-text-form>
                                </ng-container>
                                <ng-template #checklistFormTemplate>
                                    <app-checklist-form
                                        [task]="task"
                                        (onSaveTask)="saveNewTask($event)"></app-checklist-form>
                                </ng-template>
                            </ng-template>
                        </div>
                    </div>
                </div>
            </ng-container>
        </ng-container>
        <ng-template #listTemplate>
            <app-create-task-button (onAddTask)="onAddTask($event)"></app-create-task-button>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Task Name</th>
                        <th scope="col">Created By</th>
                        <th scope="col">Created On</th>
                        <th scope="col">Progress</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks; let i = index">
                        <th scope="row">
                            {{ i + 1 }}
                        </th>
                        <td>
                            <ng-container *ngIf="task.isCreated; else createTaskForm">
                                <app-task-detail
                                    [task]="task"
                                    (onCompleteChecklist)="completeChecklist($event)"
                                    (onRemoveChecklist)="removeChecklist($event)"></app-task-detail>
                            </ng-container>
                            <ng-template #createTaskForm>
                                <ng-container *ngIf="task.type === 'text'; else checklistFormTemplate">
                                    <app-text-form
                                        [task]="task"
                                        (onSaveTask)="saveNewTask($event)"></app-text-form>
                                </ng-container>
                                <ng-template #checklistFormTemplate>
                                    <app-checklist-form
                                        [task]="task"
                                        (onSaveTask)="saveNewTask($event)"></app-checklist-form>
                                </ng-template>
                            </ng-template>
                        </td>
                        <td>
                            <ng-container *ngTemplateOutlet="createdByTemplate; context: {task}"></ng-container>
                        </td>
                        <td>
                            <ng-container *ngTemplateOutlet="createdOnTemplate; context: {task}"></ng-container>
                        </td>
                        <td>
                            <ng-container *ngTemplateOutlet="progressBarTemplate; context: {task}"></ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-template>
    </div>
</div>

<ng-template #createdByTemplate let-task="task">
    <div class="d-flex flex-row align-items-center">
        <div class="icon">
            <i class="bx bxl-mailchimp"></i>
        </div>
        <div class="ms-2 c-details" *ngIf="task.isCreated">
            <h6 class="mb-0">
                {{ task.createdBy?.name }}
            </h6>
        </div>
    </div>
</ng-template>

<ng-template #progressBarTemplate let-task="task">
    <div class="progress">
        <div
            class="progress-bar"
            role="progressbar"
            [ngStyle]="{
                'width': task.progressPercent + '%',
                'background-color': task.color
            }"
            aria-valuenow="50"
            aria-valuemin="0"
            aria-valuemax="100"></div>
    </div>
</ng-template>

<ng-template #createdOnTemplate let-task="task">
    <div class="mt-2">
        <span class="text1">
            Created On 
            <span class="text2">
                {{ task.createdAt | date:'medium'}}
            </span>
        </span>
    </div>
</ng-template>